* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62,5%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 4rem;
    justify-content: flex-end;
    align-items: center;
}

.header-list {
    list-style-type: none;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-list__item {
    margin: 0 0.2rem;
}

.header-list__9dot img {
    max-width: 2rem;
    display: flex;
    align-items: center;
}

.header-list__signup {
    background-color: #1a73e8;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.main {
    width: 100%;
}

.main-logo {
    height: 20rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main-logo img {
    max-width: 25rem;
}

.main-form {
    width: 100%;
    height: 10rem;
}

.main-form__input {
display: flex;
justify-content: center;
}

.main-form__input input {
    margin: 2rem 0;
    width: 70%;
    padding: 1rem;
    border-radius: 2rem;
    border: 0.1rem solid rgb(194, 194, 194);
}

.main-form__buttons {
    display: flex;
    justify-content: center;
}

.main-form__buttons button {
    background-color: rgb(241, 241, 241);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid transparent;
    color: rgb(75, 75, 75);
    font-size: 1rem;
    margin: 0 0.5rem;
}

.main-lang {
    width: 100%;
    height: 15rem;
}

.main-lang__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.main-lang__item {
    margin: 1.5rem 0.5rem;
}

.footer {
    width: 100%;
    height: 6rem;
}

.footer-lang {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    height: 3rem;
    background-color: rgb(235, 235, 235);
    border-bottom: 0.1rem solid rgb(177, 177, 177);
}

.footer-lang span, .footer-links__lr li {
    color: rgb(75, 75, 75)
}

.footer-links {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.footer-links__lr {
    list-style-type: none;
    display: flex;
    padding: 0 2rem;
}

.footer-links__lr li {
    padding: 0 1rem;
}
